@import "tailwindcss";

@theme {
  --font-display: "Satoshi", "sans-serif";
  --breakpoint-3xl: 120rem;
  --color-brand-primary: #BE1A1A;
  --color-brand-secondary: #FD7979;
  --color-brand-ternary: #FA6868;
  --color-brand-forth: #FD7979;
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}