@import "tailwindcss";

@theme {
  --font-display: "Satoshi", "sans-serif";
  --breakpoint-3xl: 120rem;
  --color-brand-primary: #F00;
  --color-brand-secondary: #FFC7C4;
  --color-brand-ternary: #FF928B;
  --color-brand-forth: #FF928B;
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}